<html lang="ja" prefix="og: http://ogp.me/ns#" style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="結婚相談所,婚活,港区">
  <meta name="description" content="東京都港区で婚活をお考えなら、信頼と実績の結婚相談所 A Marriageへ。経験豊富なカウンセラーによる独自のマッチング方法で、あなたにピッタリのお相手との幸せなご成婚へと導きます。無料相談実施中！">
  <meta property="og:site_name" content="デザイン課_元ネタ（AHサイト掲載用サンプル）">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://zzz5302-011 .wms-sample.com/031pink">
  <link rel="canonical" href="http://zzz5302-011.wms-sample.com/031pink">
  <meta name="disparea" content="vga">
  <meta name="format-detection" content="telephone=no">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
  <title>婚活なら青山の結婚相談所 Rapportへ</title>
  <link rel="stylesheet" type="text/css" href="/_master/acre/themes/031-N00/pc/theme.css?1571796086">
  <meta name="robots" content="noindex,nofollow">
  <script>
    (function() {
      var protocol = location.protocol;
      document.write('<script src="' + protocol + '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js">\x3C/script>');
    }());
  </script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body class="mod-body">
  <div class="area-all"> <a id="top"></a>
    <header class="area-header" data-cms-parts-group="">
      <div class="area-header-inner"></div>
      <div class="area-header-inner2"></div>
      <div class="area-header-inner3">
        <div>
          <div class="t0-b-headerCombi-bPlacer">
            <header class="t0-b-headerCombi"> <span><span><span></span></span>
              </span>
              <div class="t0-b-headerCombi__bd">
                <div><span><span><span></span></span>
                  </span>
                  <div class="t0-b-headerCombi__col1"> <span><span><span></span></span>
                    </span>
                    <div class="outerHtml">
                      <div class="ex-topSpacingTweak-up-1s">
                        <div class="t0-b-headerUnit-siteTitle-bPlacer">
                          <div class="t0-b-headerUnit-siteTitle g-fontFamily-mincho">
                            <div class="t0-b-headerUnit-siteTitle__bd">
                              <div class="t0-b-headerUnit-siteTitle__bd-textCol">
                                <!-- <p class="t0-b-headerUnit-siteTitle__bd-note" data-switchable-key="contents.0.useUpperCaption">経験豊富なカウンセラーがご成婚までお手伝いいたします</p> -->
                                <div class="t0-b-headerUnit-siteTitle__bd-siteName">
                                  <!-- <p><strong>Sample marriage</strong></p> -->
                                </div>
                              </div>
                            </div>
                            <%= image_tag('unnamed.jpg') %>
                              <p class="t0-b-headerUnit-siteTitle__ft" data-switchable-key="contents.0.useLowerCaption">〒000-0000 東京都港区青山1-9-1（東京メトロ○○駅〇改札から徒歩すぐ</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="t0-b-headerCombi__col2"><span><span><span></span></span>
                    </span>
                    <div class="outerHtml">
                      <div class="ex-topSpacingTweak-up-3s">
                        <div class="t0-b-headerUnit-contact-tel-bPlacer">
                          <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-3">
                            <div class="t0-b-headerUnit-contact-tel__bd"> <span class="t0-b-headerUnit-contact-tel__tel"></span> <span>03-123-4567</span> </div> <span></span> </div>
                        </div>
                      </div>
                      <div class="ex-topSpacingTweak-up-4s">
                        <div class="t0-b-headerUnit-labeledList-bPlacer">
                          <div class="t0-b-headerUnit-labeledList">
                            <table>
                              <tbody>
                                <tr>
                                  <th> <span><span><span></span></span>
                                    </span>
                                    <div>営業時間</div>
                                  </th>
                                  <td>
                                    <div>9:00〜12:00／13:00〜16:00</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="t0-b-headerUnit-labeledList-bPlacer">
                          <div class="t0-b-headerUnit-labeledList">
                            <table>
                              <tbody>
                                <tr>
                                  <th> <span><span><span></span></span>
                                    </span>
                                    <div>&nbsp; 休業日&nbsp;</div>
                                  </th>
                                  <td>
                                    <div> 土曜・日曜・祝日 </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="t0-b-headerCombi__col3"> <span><span><span></span></span>
                    </span>
                    <div class="outerHtml">
                      <div class="ex-topSpacingTweak-up-2s">
                        <div class="t0-b-headerUnit-text-bPlacer">
                          <div class="t0-b-headerUnit-text">
                            <p>無料相談予約・お問合せはこちら↓</p>
                          </div>
                        </div>
                      </div>
                      <div class="ex-topSpacingTweak-down-1s">
                        <div class="t0-b-headerUnit-contact-navB10-bPlacer">
                          <div class="t0-b-headerUnit-contact-navB10">
                            <a href="/031pink" target="">
                              <div class="t0-b-headerUnit-contact-navB10__inner"> <span><span><span></span></span>
                                </span>
                                <div><span style="color:#009EA4">男性の方の無料相談はこちら</span></div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="ex-topSpacingTweak-down-1s">
                        <div class="t0-b-headerUnit-contact-navB10-bPlacer">
                          <div class="t0-b-headerUnit-contact-navB10">
                            <a href="/031pink" target="">
                              <div class="t0-b-headerUnit-contact-navB10__inner"> <span><span><span></span></span>
                                </span>
                                <div><span style="color:#DC6F9E">女性の方の無料相談はこちら</span></div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>
          </div>
        </div>
        <div class="ex-topSpacingTweak-up-1s" data-part-type="fullWidth">
          <div class="t0-b-headerFullWidthMedia5" style="background-image: url('/_p/acre/13810/images/pc/b97aaea3.png');">
            <div class="t0-b-headerFullWidthMedia5-inner">
              <div>
                <div class="ex-headerFullWidthMedia-text-lift-up-4s">
                  <div class="t0-b-headerFullWidthMedia-text t0-b-headerFullWidthMedia-text--size-3 t0-b-headerFullWidthMedia-text--width- t0-b-headerFullWidthMedia-text--align-l g-fontFamily-mincho">
                    <div>
                      <div>
                        <div>たったひとりの、</div>
                        <div>理想のお相手探しをサポートします</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="area-header-inner4"></div>
      <div class="area-header-inner5"></div>
    </header>
    <div class="area-container">
      <div class="area-main" data-cms-parts-group="">
        <div class="area-main-inner"> </div>
        <div class="area-main-inner2">
          <div class="ex-topSpacingTweak-up-10s">
            <div class="t0-b-flow4LeftToRight-bPlacer">
              <div class="t0-b-flow4LeftToRight t0-b-flow4LeftToRight--colSpacing-s">
                <div class="t0-b-flow4LeftToRight__bd">
                  <div class="t0-b-flow4LeftToRight__row" data-auto-height="">
                    <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                      <div><span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-topSpacingTweak-up-10s">
                            <div class="t0-b-media3-bPlacer">
                              <div class="t0-b-media3" style="width: 90%; min-height: 240px;" data-height-part="">
                                <div class="t0-b-media3__media"> <span></span>
                                  <a href="/031pink">
                                    <%= image_tag('bride.jpg') %>
                                      <div class="t0-b-media3__textOnImage-lower">
                                        <p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>初めての方へ</strong></span><br> <span style="font-size:16px"><strong>- First&nbsp;-</strong></span></p>
                                      </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t0-b-flow4LeftToRight__arrow">
                      <div class="t0-b-flow4LeftToRight__arrow-inner"></div>
                    </div>
                    <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                      <div><span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-topSpacingTweak-up-10s">
                            <div class="t0-b-media3-bPlacer">
                              <div class="t0-b-media3" style="width: 90%; min-height: 240px;" data-height-part="">
                                <div class="t0-b-media3__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/749855da.jpeg"> <div class="t0-b-media3__textOnImage-lower"><p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>プランとご料金</strong></span><br> <strong><span style="font-size:16px">- Plan -</span></strong></p></div> </a> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t0-b-flow4LeftToRight__arrow">
                      <div class="t0-b-flow4LeftToRight__arrow-inner"></div>
                    </div>
                    <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                      <div><span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-topSpacingTweak-up-10s">
                            <div class="t0-b-media3-bPlacer">
                              <div class="t0-b-media3" style="width: 90%; min-height: 240px;" data-height-part="">
                                <div class="t0-b-media3__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/475e7bc2.png"> <div class="t0-b-media3__textOnImage-lower"><p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>ご結婚までの流れ</strong></span><br> <span style="font-size:16px"><strong>- Flow -</strong></span></p></div> </a> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t0-b-flow4LeftToRight__arrow">
                      <div class="t0-b-flow4LeftToRight__arrow-inner"></div>
                    </div>
                    <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                      <div><span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-topSpacingTweak-up-10s">
                            <div class="t0-b-media3-bPlacer">
                              <div class="t0-b-media3" style="width: 90%; min-height: 240px;" data-height-part="">
                                <div class="t0-b-media3__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/399e51f3.jpeg"> <div class="t0-b-media3__textOnImage-lower"><p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>よくあるご質問</strong></span><br> <span style="font-size:16px"><strong>- FAQ -</strong></span></p></div> </a> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-5s">
            <div class="t0-b-frameTransparency-bPlacer">
              <div class="t0-b-frameTransparency">
                <div class="t0-b-frameTransparency__hd outerHtml">
                  <div class="ex-leftSpacingTweak-">
                    <div class="t0-b-lv1H-mainH9-bPlacer">
                      <div class="t0-b-lv1H-mainH9 t0-b-lv1H-mainH9--align- g-fontFamily-mincho"><span><span><span></span></span>
                        </span>
                        <h1 class="t0-b-lv1H-mainH9__bd"><span style="font-size:20px"><strong>新宿の結婚相談所で婚活するなら</strong></span><strong><span style="font-size:20px">&nbsp;</span>Sample marriageへ</strong></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-5s">
            <div class="t0-b-frame-bPlacer">
              <div class="t0-b-frame">
                <div class="t0-b-frame__bd"><span><span><span></span></span>
                  </span>
                  <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-imageFloat ex-spLayout__vertical">
                    <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                      <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                        <div>
                          <div class="t0-b-media2-bPlacer">
                            <div class="t0-b-media2" data-height-part="">
                              <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/530f0501.jpeg"> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-twoColsMedia__row1col2">
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak-">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>東京都新宿区で婚活をお考えなら、信頼と実績の結婚相談所 Sample marriageへ！</p>
                                <p>経験豊富なカウンセラーによる独自のマッチング方法で、あなたにピッタリのお相手との幸せなご成婚へと導きます。</p>
                                <p>無料相談も実施しておりますので、どうぞお気軽にお問合せください。</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-2s">
                            <div class="t0-b-lv5H3-bPlacer">
                              <div class="t0-b-lv5H3 t0-b-lv5H3--align- t0-b-lv5H3--size-2" data-height-part="">
                                <div class="t0-b-lv5H3__main">
                                  <div class="t0-b-lv5H3__bd">
                                    <div class="t0-b-lv5H3__iconPlacer"><span class="t0-b-lv5H3__icon"></span></div>
                                    <h5>News&amp;Topics</h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-1s">
                            <div class="t0-b-labeledList2-bPlacer">
                              <div class="t0-b-labeledList2" data-height-part="">
                                <table>
                                  <tbody>
                                    <tr>
                                      <th><span><span><span></span></span>
                                        </span>
                                        <div>2018/10/19</div>
                                      </th>
                                      <td>
                                        <div>ホームページを公開しました。</div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-1s">
                            <div class="t0-b-labeledList2-bPlacer">
                              <div class="t0-b-labeledList2" data-height-part="">
                                <table>
                                  <tbody>
                                    <tr>
                                      <th><span><span><span></span></span>
                                        </span>
                                        <div>2018/10/18</div>
                                      </th>
                                      <td>
                                        <div>「プランのご案内」ページを作成しました。</div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-1s">
                            <div class="t0-b-labeledList2-bPlacer">
                              <div class="t0-b-labeledList2" data-height-part="">
                                <table>
                                  <tbody>
                                    <tr>
                                      <th><span><span><span></span></span>
                                        </span>
                                        <div>2018/10/17</div>
                                      </th>
                                      <td>
                                        <div>「選ばれる理由」ページを作成しました。</div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-4s">
            <div class="t0-b-articleDecoration2-bPlacer">
              <div class="t0-b-articleDecoration2 t0-b-articleDecoration2--colSpacing-"> <span><span><span></span></span>
                </span>
                <div class="t0-b-articleDecoration2__hd outerHtml"></div>
                <div class="t0-b-articleDecoration2__bd" data-auto-height="">
                  <div class="t0-b-articleDecoration2__row">
                    <div class="t0-b-articleDecoration2__col">
                      <div class="t0-b-articleDecoration2__box" data-height-group="1"> <span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak-">
                            <div class="t0-b-lv3H-bPlacer">
                              <div class="t0-b-lv3H t0-b-lv3H--align- t0-b-lv3H--size-2 g-fontFamily-mincho" data-height-part="" style="min-height: 40px;"><span><span><span></span></span>
                                </span>
                                <div>
                                  <div class="t0-b-lv3H__iconPlacer"><span class="t0-b-lv3H__icon"></span></div>
                                  <h3><strong>おまかせサポートプラン</strong></h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-spLayout__vertical">
                          <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                            <div class="t0-b-twoColsMedia__row1col1" data-height-group="2">
                              <div class="outerHtml">
                                <div class="ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-media2-bPlacer">
                                    <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                      <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/130ca04b.jpeg"> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="t0-b-twoColsMedia__row1col2" data-height-group="3">
                              <div class="outerHtml">
                                <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-wysiwyg-bPlacer">
                                    <div class="t0-b-wysiwyg" data-height-part="" style="min-height: 124px;">
                                      <p>お１人おひとりのライフプランや理想のお相手を時間をかけてお伺いし、お引き合わせ後のお誘い方や食事のマナーまでトータルサポートいたします。</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="ex-topSpacingTweak-down-1s">
                                  <div class="t0-b-navItem3-bPlacer">
                                    <div class="t0-b-navItem3 t0-b-navItem3--size-3 t0-b-navItem3--width- t0-b-navItem3--align-" data-height-part="" style="min-height: 25px;">
                                      <a href="/031pink" target="">
                                        <div class="t0-b-navItem3__inner"> <span></span>
                                          <div>詳細はこちらへ</div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="outerHtml"></div>
                      </div>
                    </div>
                    <div class="t0-b-articleDecoration2__col">
                      <div data-switchable-key="contents.8.switchable" class="t0-b-articleDecoration2__box" data-height-group="1"> <span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak-">
                            <div class="t0-b-lv3H-bPlacer">
                              <div class="t0-b-lv3H t0-b-lv3H--align- t0-b-lv3H--size-2 g-fontFamily-mincho" data-height-part="" style="min-height: 40px;"><span><span><span></span></span>
                                </span>
                                <div>
                                  <div class="t0-b-lv3H__iconPlacer"><span class="t0-b-lv3H__icon"></span></div>
                                  <h3><strong>お悩み別サポートプラン</strong></h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-spLayout__vertical">
                          <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                            <div class="t0-b-twoColsMedia__row1col1" data-height-group="2">
                              <div class="outerHtml">
                                <div class="ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-media2-bPlacer">
                                    <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                      <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/402d4f5e.jpg"> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="t0-b-twoColsMedia__row1col2" data-height-group="3">
                              <div class="outerHtml">
                                <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-wysiwyg-bPlacer">
                                    <div class="t0-b-wysiwyg" data-height-part="" style="min-height: 124px;">
                                      <p>再婚やシングルの方・地方出身者の方限定のプランなど、さまざまなプランをご用意。</p>
                                      <p>ご要望やご希望を伺い、その中から理想のお相手とお引き合わせいたします。</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="ex-topSpacingTweak-down-1s">
                                  <div class="t0-b-navItem3-bPlacer">
                                    <div class="t0-b-navItem3 t0-b-navItem3--size-3 t0-b-navItem3--width- t0-b-navItem3--align-" data-height-part="" style="min-height: 25px;">
                                      <a href="/031pink" target="">
                                        <div class="t0-b-navItem3__inner"> <span></span>
                                          <div>詳細はこちらへ</div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="outerHtml"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-5s">
            <div class="t0-b-articleDecoration2-bPlacer">
              <div class="t0-b-articleDecoration2 t0-b-articleDecoration2--colSpacing-"> <span><span><span></span></span>
                </span>
                <div class="t0-b-articleDecoration2__hd outerHtml"></div>
                <div class="t0-b-articleDecoration2__bd" data-auto-height="">
                  <div class="t0-b-articleDecoration2__row">
                    <div class="t0-b-articleDecoration2__col">
                      <div class="t0-b-articleDecoration2__box" data-height-group="1"> <span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak-">
                            <div class="t0-b-lv3H-bPlacer">
                              <div class="t0-b-lv3H t0-b-lv3H--align- t0-b-lv3H--size-2 g-fontFamily-mincho" data-height-part="" style="min-height: 40px;"><span><span><span></span></span>
                                </span>
                                <div>
                                  <div class="t0-b-lv3H__iconPlacer"><span class="t0-b-lv3H__icon"></span></div>
                                  <h3><strong>スピード成婚★サポートプラン</strong></h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-spLayout__vertical">
                          <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                            <div class="t0-b-twoColsMedia__row1col1" data-height-group="2">
                              <div class="outerHtml">
                                <div class="ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-media2-bPlacer">
                                    <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                      <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/9ea759c8.jpeg"> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="t0-b-twoColsMedia__row1col2" data-height-group="3">
                              <div class="outerHtml">
                                <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-wysiwyg-bPlacer">
                                    <div class="t0-b-wysiwyg" data-height-part="" style="min-height: 132px;">
                                      <p>1年以内のご結婚をお急ぎの方への特別プラン。</p>
                                      <p>お引き合わせする際のヘアメイクなども当相談所でプロのスタイリストをお手配いたします。</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="ex-topSpacingTweak-down-1s">
                                  <div class="t0-b-navItem3-bPlacer">
                                    <div class="t0-b-navItem3 t0-b-navItem3--size-3 t0-b-navItem3--width- t0-b-navItem3--align-" data-height-part="" style="min-height: 25px;">
                                      <a href="/031pink" target="">
                                        <div class="t0-b-navItem3__inner"> <span></span>
                                          <div>詳細はこちらへ</div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="outerHtml"></div>
                      </div>
                    </div>
                    <div class="t0-b-articleDecoration2__col">
                      <div data-switchable-key="contents.8.switchable" class="t0-b-articleDecoration2__box" data-height-group="1"> <span><span><span></span></span>
                        </span>
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak-">
                            <div class="t0-b-lv3H-bPlacer">
                              <div class="t0-b-lv3H t0-b-lv3H--align- t0-b-lv3H--size-2 g-fontFamily-mincho" data-height-part="" style="min-height: 40px;"><span><span><span></span></span>
                                </span>
                                <div>
                                  <div class="t0-b-lv3H__iconPlacer"><span class="t0-b-lv3H__icon"></span></div>
                                  <h3><strong>【無料】お試し婚活相談</strong></h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-spLayout__vertical">
                          <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                            <div class="t0-b-twoColsMedia__row1col1" data-height-group="2">
                              <div class="outerHtml">
                                <div class="ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-media2-bPlacer">
                                    <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                      <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/4b59372c.jpeg"> </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="t0-b-twoColsMedia__row1col2" data-height-group="3">
                              <div class="outerHtml">
                                <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-2s">
                                  <div class="t0-b-wysiwyg-bPlacer">
                                    <div class="t0-b-wysiwyg" data-height-part="" style="min-height: 132px;">
                                      <p>結婚相談所を初めて利用する、マッチングの仕組みを知りたい、カウンセラーの話を聞いてみたい、そんな方にお勧めの無料相談をご用意しています。無理な勧誘は一切いたしませんので、まずはお気軽にご相談ください。</p>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <div class="t0-b-navItemDouble-bPlacer">
                                    <div class="t0-b-navItemDouble">
                                      <div class="t0-b-navItemDouble__layout">
                                        <div class="t0-b-navItem t0-b-navItem--size-2 t0-b-navItem--width- t0-b-navItem--align-">
                                          <a href="/031pink" target="">
                                            <div class="t0-b-navItem__inner"> <span></span>
                                              <div><span style="color:#009EA4">男性無料相談へ</span></div>
                                            </div>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="t0-b-navItemDouble__layout">
                                        <div class="t0-b-navItem t0-b-navItem--size-2 t0-b-navItem--width- t0-b-navItem--align-">
                                          <a href="/031pink" target="">
                                            <div class="t0-b-navItem__inner"> <span></span>
                                              <div><span style="color:#DC6F9E">女性無料相談へ</span></div>
                                            </div>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="outerHtml"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-part-type="fullWidth">
            <div>
              <div class="t0-b-fullWidthFrame5" style="background-image: url('/_p/acre/13810/images/pc/d10f935e.png');"> <span><span><span></span></span>
                </span>
                <div class="t0-b-fullWidthFrame5__hd outerHtml">
                  <div class="ex-topSpacingTweak-down-4s">
                    <div class="t0-b-lv4HBig5-bPlacer">
                      <div class="t0-b-lv4HBig5 t0-b-lv4HBig5--align- t0-b-lv4HBig5--size-3 g-fontFamily-mincho" data-height-part="">
                        <div class="t0-b-lv4HBig5__box">
                          <div class="t0-b-lv4HBig5__bd"><span><span><span><span></span></span>
                            </span>
                            </span>
                            <h4><strong>Sample marriageが選ばれる<span style="font-size:48px">3</span>つの理由</strong></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t0-b-fullWidthFrame5__bd"><span><span><span></span></span>
                  </span>
                  <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-imageFloat ex-spLayout__horizon">
                    <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                      <div class="t0-b-twoColsMedia__row1col2">
                        <div class="outerHtml">
                          <div class="ex-topSpacingTweak-down-1s">
                            <div class="t0-b-lv4H-numIcon-bPlacer">
                              <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align- t0-b-lv4H-numIcon--size-3 g-fontFamily-mincho" data-height-part="">
                                <div>
                                  <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-1"></span></div>
                                  <div class="t0-b-lv4H-numIcon__bd">
                                    <h4 class="t0-b-lv4H-numIcon__h"> <strong>経験豊富なカウンセラーが成婚までサポート</strong> </h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-up-1s">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>Sample marriageでは、どのようなご事情をお抱えされている方にも親身になってサポートいたします。<br> 大手の結婚相談所では敷居が高い感じがする、という方もご安心ください。</p>
                                <p>真剣な出会いを探されているからこそ、かしこまらずに理想のお相手のことはもちろんですが、今後のご自身のライフプランをお聞かせください。<br> 些細な悩み事や嬉しいポイントにも最高のお相手へと導くきっかけとなるものがございます。</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-1s">
                            <div class="t0-b-lv4H-numIcon-bPlacer">
                              <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align- t0-b-lv4H-numIcon--size-3 g-fontFamily-mincho" data-height-part="">
                                <div>
                                  <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-2"></span></div>
                                  <div class="t0-b-lv4H-numIcon__bd">
                                    <h4 class="t0-b-lv4H-numIcon__h"> <strong>信頼できるお相手をご紹介します</strong> </h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-up-1s">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>Sample marriageには、結婚を真剣に考えている会員様が多数登録されています。<br> 今まで他社の婚活パーティーやイベントなどのサービスを利用されていた方からも、たいへん好評をいただいています。</p>
                                <p>※登録会員の皆さまは、独身証明書や収入証明書などの書類を提出されています。</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-1s">
                            <div class="t0-b-lv4H-numIcon-bPlacer">
                              <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align- t0-b-lv4H-numIcon--size-3 g-fontFamily-mincho" data-height-part="">
                                <div>
                                  <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-3"></span></div>
                                  <div class="t0-b-lv4H-numIcon__bd">
                                    <h4 class="t0-b-lv4H-numIcon__h"> <strong>スピーディーなご成婚が可能</strong> </h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-up-1s">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>「半年に結婚相手を探さなければ・・・」など、ご事情により早く結婚をしたいという方も多くいらっしゃいます。<br> Sample marriageでは、そんなご要望をお持ちの方向けに、特別なプランもご用意しております。ぜひお気軽にご相談ください。</p>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="t0-b-navItemWithImgDouble-bPlacer">
                              <div class="t0-b-navItemWithImgDouble">
                                <div class="t0-b-navItemWithImgDouble__layout">
                                  <div class="t0-b-navItemWithImg4 t0-b-navItemWithImg4--imgR t0-b-navItemWithImg4--width- t0-b-navItemWithImg4--align-">
                                    <a href="/031pink" target="">
                                      <div class="t0-b-navItemWithImg4__inner"><span><span><span></span></span>
                                        </span>
                                        <div class="t0-b-navItemWithImg4__img"> <img src="/_p/acre/13810/images/pc/efd16fd6.jpg"> </div>
                                        <div class="t0-b-navItemWithImg4__text g-fontFamily-mincho"> <strong><span style="font-size:20px">選ばれる理由の詳細はこちらへ</span></strong> </div>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="t0-b-navItemWithImgDouble__layout">
                                  <div class="t0-b-navItemWithImg4 t0-b-navItemWithImg4--imgR t0-b-navItemWithImg4--width- t0-b-navItemWithImg4--align-">
                                    <a href="/031pink" target="">
                                      <div class="t0-b-navItemWithImg4__inner"><span><span><span></span></span>
                                        </span>
                                        <div class="t0-b-navItemWithImg4__img"> <img src="/_p/acre/13810/images/pc/df307d92.jpeg"> </div>
                                        <div class="t0-b-navItemWithImg4__text g-fontFamily-mincho"> <span style="font-size:20px"><strong>相談所概要・アクセスはこちらへ</strong></span> </div>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="outerHtml"></div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-down-1s" data-part-type="fullWidth">
            <div>
              <div class="t0-b-fullWidthFrame9"> <span><span><span></span></span>
                </span>
                <div class="t0-b-fullWidthFrame9__hd outerHtml"></div>
                <div class="t0-b-fullWidthFrame9__bd"><span><span><span></span></span>
                  </span>
                  <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR ex-spLayout__vertical">
                    <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                      <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                        <div class="ex-topSpacingTweak-down-9s">
                          <div class="t0-b-media2-bPlacer">
                            <div class="t0-b-media2" data-height-part="">
                              <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/d458fd46.jpg"> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-twoColsMedia__row1col2">
                        <div class="outerHtml">
                          <div class="ex-topSpacingTweak-down-6s">
                            <div class="t0-b-lv4HBig-bPlacer">
                              <div class="t0-b-lv4HBig t0-b-lv4HBig--align- t0-b-lv4HBig--size-1 g-fontFamily-mincho" data-height-part="">
                                <div class="t0-b-lv4HBig__box">
                                  <div class="t0-b-lv4HBig__caption-upper"><strong>日本結婚相談所連盟（IBJ）正規加盟店</strong></div>
                                  <div class="t0-b-lv4HBig__bd"><span><span><span><span></span></span>
                                    </span>
                                    </span>
                                    <h4><strong>Sample marriageで出会える方</strong></h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-1s">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>Sample marriageは、会員数<span style="color:rgb(255, 0, 0)">59,677名</span>以上、日本最大級の結婚相談所ネットワーク「日本結婚相談所連盟（IBJ）」の正規加盟店です。</p>
                                <p>日本結婚相談所連盟（IBJ）では、事前に独身証明書などの書類を提出された「真剣にご結婚をお考えの方」だけに、安心安全のお見合いを<span style="color:rgb(255, 0, 0)">毎月25,000件</span>以上ご提供しています。</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-2s">
                            <div class="t0-b-navItemCaptioned2-bPlacer">
                              <div class="t0-b-navItemCaptioned2 t0-b-navItemCaptioned2--size-3 t0-b-navItemCaptioned2--width- t0-b-navItemCaptioned2--align-" data-height-part="">
                                <a href="/031pink" target="">
                                  <div class="t0-b-navItemCaptioned2__inner"> <span></span>
                                    <div>
                                      <div class="t0-b-navItemCaptioned2__main">会員データの詳細はこちら</div>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-down-3s" data-part-type="fullWidth">
            <div>
              <div class="t0-b-fullWidthFrame5" style="background-image: url('/_p/acre/13810/images/pc/4f106160.png');"> <span><span><span></span></span>
                </span>
                <div class="t0-b-fullWidthFrame5__hd outerHtml">
                  <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-3s">
                    <div class="t0-b-lv2H5-bPlacer">
                      <div class="t0-b-lv2H5 t0-b-lv2H5--align-c t0-b-lv2H5--size-2 g-fontFamily-mincho" data-height-part=""><span><span><span></span></span>
                        </span>
                        <div>
                          <div class="t0-b-lv2H5__iconPlacer"><span class="t0-b-lv2H5__icon"></span></div>
                          <h2><strong>メインカウンセラー紹介</strong></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t0-b-fullWidthFrame5__bd"><span><span><span></span></span>
                  </span>
                  <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgL ex-spLayout__vertical">
                    <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                      <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                        <div>
                          <div class="t0-b-media3-bPlacer">
                            <div class="t0-b-media3" style="width:90%;" data-height-part="">
                              <div class="t0-b-media3__media"> <span></span> <img src="/_p/acre/13810/images/pc/0a949eb2.png"> </div>
                              <div class="t0-b-media3__caption">
                                <p>代表の婚野 美可です</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-twoColsMedia__row1col2">
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-3s">
                            <div class="t0-b-lv3H-bPlacer">
                              <div class="t0-b-lv3H t0-b-lv3H--align-l t0-b-lv3H--size-2 g-fontFamily-mincho" data-height-part=""><span><span><span></span></span>
                                </span>
                                <div>
                                  <div class="t0-b-lv3H__iconPlacer"><span class="t0-b-lv3H__icon"></span></div>
                                  <h3><strong>あなたの一番の理解者に</strong></h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-1s">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>当社にお越しくださる方は、結婚に対しての意識や理想、考え方も本当にお１人おひとり違います。</p>
                                <p>その想いを汲み取り、これからの人生がより鮮やかになるお相手を探すお手伝いをさせていただきます。</p>
                                <p>みなさまがここに辿り着くまでにきっとたくさんの想いや葛藤があったはずです。</p>
                                <p>そんなあなたの想いを大切に受け止めるため、アドバイザーであると同時に、あなたの一番の理解者でありたいと思っています。</p>
                                <p>どうぞ初めの一歩を踏み出していただき、一緒に素敵な未来へと進んでいきましょう。</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-down-1s">
                            <div class="t0-b-navBItem10-bPlacer">
                              <div class="t0-b-navBItem10 t0-b-navBItem10--size-4 t0-b-navBItem10--width-s t0-b-navBItem10--align-c" data-height-part="">
                                <a href="/031pink" target="">
                                  <div class="t0-b-navBItem10__inner"><span><span><span></span></span>
                                    </span>
                                    <div>メインカウンセラー紹介の詳細はこちら</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="t0-b-articleDecoration4-bPlacer">
              <div class="t0-b-articleDecoration4"><span><span><span></span></span>
                </span>
                <div class="t0-b-articleDecoration4__hd outerHtml">
                  <div class="ex-leftSpacingTweak- ex-topSpacingTweak-down-2s">
                    <div class="t0-b-lv2H-bPlacer">
                      <div class="t0-b-lv2H t0-b-lv2H--align- t0-b-lv2H--size-3 g-fontFamily-mincho" data-height-part=""><span><span><span></span></span>
                        </span>
                        <div>
                          <div class="t0-b-lv2H__iconPlacer"><span class="t0-b-lv2H__icon"></span></div>
                          <h2><strong>＼ 私達、</strong><span style="color:#DC6F9E"><span style="font-size:48px"><strong>Sample marriage</strong></span></span><strong>で結婚しました!! ／</strong></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t0-b-articleDecoration4__bd">
                  <div class="t0-b-articleDecoration4__box"><span><span><span></span></span>
                    </span>
                    <div class="outerHtml"></div>
                    <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-s t0-b-twoColsMedia--imgR ex-imageFloat ex-spLayout__vertical">
                      <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                        <div class="t0-b-twoColsMedia__row1col1">
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-9s">
                              <div class="t0-b-media2-bPlacer">
                                <div class="t0-b-media2" data-height-part="">
                                  <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/97c01157.jpg"> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="t0-b-twoColsMedia__row1col2">
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-2s">
                              <div class="t0-b-lv4H-voiceIcon-bPlacer">
                                <div class="t0-b-lv4H-voiceIcon t0-b-lv4H-voiceIcon--align- t0-b-lv4H-voiceIcon--size-2 g-fontFamily-mincho" data-height-part="">
                                  <div>
                                    <div class="t0-b-lv4H-voiceIcon__iconPlacer"><span class="t0-b-lv4H-voiceIcon__icon"></span></div>
                                    <div class="t0-b-lv4H-voiceIcon__bd">
                                      <h4 class="t0-b-lv4H-voiceIcon__h t0-b-lv4H-voiceIcon--align-"> <strong>丁寧なアドバイスで、ついに結婚できました！</strong> </h4>
                                      <div class="t0-b-lv4H-voiceIcon__caption-lower"><strong>40代 愛田夫婦</strong></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ex-leftSpacingTweak-">
                              <div class="t0-b-wysiwyg-bPlacer">
                                <div class="t0-b-wysiwyg" data-height-part="">
                                  <p>40を過ぎても恋愛経験が少ない私に婚活は難しいかと思っていましたが、カウンセラーさんに何度も丁寧にアドバイスいただき、ついに結婚できました。利用を迷っている方は、ぜひ一度お話を聞いてみることをお勧めします！</p>
                                </div>
                              </div>
                            </div>
                            <div class="ex-topSpacingTweak-up-3s">
                              <div class="t0-b-navItem7-bPlacer">
                                <div class="t0-b-navItem7 t0-b-navItem7--size-2 t0-b-navItem7--width- t0-b-navItem7--align-" data-height-part="">
                                  <a href="/031pink" target="">
                                    <div class="t0-b-navItem7__inner"> <span></span>
                                      <div>
                                        <p>お客さまの声をもっと読む</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="outerHtml"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-6s">
            <div class="t0-b-articleDecoration4-bPlacer">
              <div class="t0-b-articleDecoration4"><span><span><span></span></span>
                </span>
                <div class="t0-b-articleDecoration4__bd">
                  <div class="t0-b-articleDecoration4__box"><span><span><span></span></span>
                    </span>
                    <div class="outerHtml"></div>
                    <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-s t0-b-twoColsMedia--imgL ex-spLayout__vertical">
                      <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                        <div class="t0-b-twoColsMedia__row1col1">
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-7s">
                              <div class="t0-b-media2-bPlacer">
                                <div class="t0-b-media2" data-height-part="">
                                  <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/4dce4027.jpg"> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="t0-b-twoColsMedia__row1col2">
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-2s">
                              <div class="t0-b-lv4H-voiceIcon-bPlacer">
                                <div class="t0-b-lv4H-voiceIcon t0-b-lv4H-voiceIcon--align- t0-b-lv4H-voiceIcon--size-2 g-fontFamily-mincho" data-height-part="">
                                  <div>
                                    <div class="t0-b-lv4H-voiceIcon__iconPlacer"><span class="t0-b-lv4H-voiceIcon__icon"></span></div>
                                    <div class="t0-b-lv4H-voiceIcon__bd">
                                      <h4 class="t0-b-lv4H-voiceIcon__h t0-b-lv4H-voiceIcon--align-"> <strong>短い期間でも、素敵な相手と出会うことができました</strong> </h4>
                                      <div class="t0-b-lv4H-voiceIcon__caption-lower">
                                        <p><strong>30代 幸成夫婦</strong></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="ex-leftSpacingTweak-">
                              <div class="t0-b-wysiwyg-bPlacer">
                                <div class="t0-b-wysiwyg" data-height-part="">
                                  <p>「１年以内に結婚したい」という私の要望に真剣に向き合っていただき、見事ゴールインすることができました。<br> 短い期間でも、妥協することなく素敵な相手に出会うことができたのは、Akibare Marriageさんのお陰です！ありがとうございました。</p>
                                </div>
                              </div>
                            </div>
                            <div class="ex-topSpacingTweak-up-3s">
                              <div class="t0-b-navItem7-bPlacer">
                                <div class="t0-b-navItem7 t0-b-navItem7--size-2 t0-b-navItem7--width- t0-b-navItem7--align-r" data-height-part="">
                                  <a href="/031pink" target="">
                                    <div class="t0-b-navItem7__inner"> <span></span>
                                      <div>
                                        <p>お客さまの声をもっと読む</p>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="outerHtml"></div>
                  </div>
                </div>
                <div class="t0-b-articleDecoration4__ft outerHtml"></div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-7s" data-part-type="fullWidth">
            <div>
              <div class="t0-b-fullWidthFrame9"> <span><span><span></span></span>
                </span>
                <div class="t0-b-fullWidthFrame9__bd"><span><span><span></span></span>
                  </span>
                  <div class="t0-b-flow4LeftToRight t0-b-flow4LeftToRight--colSpacing-l">
                    <div class="t0-b-flow4LeftToRight__row" data-auto-height="">
                      <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                        <div><span><span><span></span></span>
                          </span>
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-3s">
                              <div class="t0-b-media2-bPlacer">
                                <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                  <div class="t0-b-media2__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/66d5b1c9.jpeg"> <div class="t0-b-media2__textOnImage-lower"><p class="g-fontFamily-mincho"><strong><span style="font-size:20px">ご結婚までの流れ</span></strong></p></div> </a> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-flow4LeftToRight__arrow">
                        <div class="t0-b-flow4LeftToRight__arrow-inner"></div>
                      </div>
                      <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                        <div><span><span><span></span></span>
                          </span>
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-4s">
                              <div class="t0-b-media2-bPlacer">
                                <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                  <div class="t0-b-media2__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/d0ae97d4.jpeg"> <div class="t0-b-media2__textOnImage-lower"><p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>婚活お役立ち情報</strong></span></p></div> </a> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-flow4LeftToRight__arrow">
                        <div class="t0-b-flow4LeftToRight__arrow-inner"></div>
                      </div>
                      <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                        <div><span><span><span></span></span>
                          </span>
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-4s">
                              <div class="t0-b-media2-bPlacer">
                                <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                  <div class="t0-b-media2__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/bd13ed3a.jpeg"> <div class="t0-b-media2__textOnImage-lower"><p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>よくあるご質問</strong></span></p></div> </a> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-flow4LeftToRight__arrow">
                        <div class="t0-b-flow4LeftToRight__arrow-inner"></div>
                      </div>
                      <div class="t0-b-flow4LeftToRight__box" data-height-group="1">
                        <div><span><span><span></span></span>
                          </span>
                          <div class="outerHtml">
                            <div class="ex-topSpacingTweak-down-4s">
                              <div class="t0-b-media2-bPlacer">
                                <div class="t0-b-media2" data-height-part="" style="min-height: 5px;">
                                  <div class="t0-b-media2__media"> <span></span> <a href="/031pink"> <img src="/_p/acre/13810/images/pc/10e05535.jpeg"> <div class="t0-b-media2__textOnImage-lower"><p class="g-fontFamily-mincho"><span style="font-size:20px"><strong>相談所概要</strong></span></p></div> </a> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-1s">
            <div class="t0-b-frameWithHCaption-bPlacer">
              <div class="t0-b-frameWithHCaption"><span><span><span></span></span>
                </span>
                <div class="t0-b-frameWithHCaption__bd"><span><span><span></span></span>
                  </span>
                  <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgL ex-spLayout__vertical">
                    <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
                      <div class="t0-b-twoColsMedia__row1col1 outerHtml" style="width:45%;">
                        <div>
                          <div class="t0-b-media2-bPlacer">
                            <div class="t0-b-media2" style="width:85%;" data-height-part="">
                              <div class="t0-b-media2__media"> <span></span> <img src="/_p/acre/13810/images/pc/6a70ebef.jpg"> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t0-b-twoColsMedia__row1col2">
                        <div class="outerHtml">
                          <div class="ex-leftSpacingTweak-">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>新宿で婚活をお考えなら、結婚相談所Sample marriageへお気軽にご相談ください。</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-down-1s">
                            <div class="t0-b-iconText-tel-bPlacer">
                              <div class="t0-b-iconText-tel t0-b-iconText-tel--size-5 t0-b-iconText-tel--align-" data-height-part="">
                                <div class="t0-b-iconText-tel__wrap">
                                  <p>お気軽にお問合せ・ご相談ください</p>
                                  <div>
                                    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__tel"></span><span>03-1234-5678</span> </div><span></span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ex-leftSpacingTweak- ex-topSpacingTweak-up-3s">
                            <div class="t0-b-wysiwyg-bPlacer">
                              <div class="t0-b-wysiwyg" data-height-part="">
                                <p>営業時間：10：00～21：00<br> 定休日：水曜日・祝日</p>
                              </div>
                            </div>
                          </div>
                          <div class="ex-topSpacingTweak-up-1s">
                            <div class="t0-b-navBItemDouble-bPlacer">
                              <div class="t0-b-navBItemDouble">
                                <div class="t0-b-navBItemDouble__layout">
                                  <div class="t0-b-navBItem10 t0-b-navBItem10--size-4 t0-b-navBItem10--width- t0-b-navBItem10--align-">
                                    <a href="/031pink" target="">
                                      <div class="t0-b-navBItem10__inner"><span><span><span></span></span>
                                        </span>
                                        <div><span style="color:#008080">【男性向け】</span><span>無料相談フォーム</span></div>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="t0-b-navBItemDouble__layout">
                                  <div class="t0-b-navBItem10 t0-b-navBItem10--size-4 t0-b-navBItem10--width- t0-b-navBItem10--align-">
                                    <a href="/031pink" target="">
                                      <div class="t0-b-navBItem10__inner"><span><span><span></span></span>
                                        </span>
                                        <div><span style="color:#DC6F9E">【女性向け】</span><span>無料相談フォーム</span></div>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="area-main-inner3"> </div>
        <div class="area-main-inner4"> </div>
      </div>
      <div class="area-sub" data-cms-parts-group="">
        <div class="area-sub-inner">
          <div>
            <div class="t0-b-sideBox-bPlacer">
              <div class="t0-b-sideBox"><span><span><span></span></span>
                </span>
                <div class="t0-b-sideBox__hd t0-b-sideBox--align-"><span><span><span></span></span>
                  </span>
                  <h4>新着情報</h4>
                </div>
                <div class="t0-b-sideBox__bd"><span><span><span></span></span>
                  </span>
                  <div class="outerHtml">
                    <div>
                      <div class="t0-b-sideBoxLabeledList-bPlacer">
                        <div class="t0-b-sideBoxLabeledList">
                          <div class="t0-b-sideBoxLabeledList__item">
                            <div class="t0-b-sideBoxLabeledList__item-hd"><span><span><span></span></span>
                              </span>
                              <div>2019年01月01日</div>
                            </div>
                            <div class="t0-b-sideBoxLabeledList__item-bd">婚活パーティーのレポートをアップしました。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="t0-b-sideBoxLabeledList-bPlacer">
                        <div class="t0-b-sideBoxLabeledList">
                          <div class="t0-b-sideBoxLabeledList__item">
                            <div class="t0-b-sideBoxLabeledList__item-hd"><span><span><span></span></span>
                              </span>
                              <div>2019年01月01日</div>
                            </div>
                            <div class="t0-b-sideBoxLabeledList__item-bd">お客さまの声を追加しました。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="t0-b-sideBoxLabeledList-bPlacer">
                        <div class="t0-b-sideBoxLabeledList">
                          <div class="t0-b-sideBoxLabeledList__item">
                            <div class="t0-b-sideBoxLabeledList__item-hd"><span><span><span></span></span>
                              </span>
                              <div>2019年01月01日</div>
                            </div>
                            <div class="t0-b-sideBoxLabeledList__item-bd">お盆休みにつきまして</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-down-2s">
            <div class="b-sideMenu2-bPlacer">
              <div class="b-sideMenu2"><span><span><span></span></span>
                </span>
                <div class="b-sideMenu2__hd b-sideMenu2__hd--align-"><span><span><span></span></span>
                  </span>
                  <h4>MENU</h4>
                </div> <input type="checkbox" id="b-sideMenu2__panel" class="on-off"> <label for="b-sideMenu2__panel">MENU</label>
                <div class="b-sideMenu2__bd"><span><span><span></span></span>
                  </span>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>トップページ</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/15487501371384"><span><span>結婚相談所（公式）031C</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/15492679967355"><span><span>結婚相談所（公式）031A</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>選ばれる理由</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>初めての方へ</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>プラン・料金のご案内</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>メインカウンセラー紹介</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>ご登録・ご結婚までの流れ</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>イベント情報</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>婚活よくあるご質問</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>会員データ</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>会社概要</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>男性無料相談</span></span></a></div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item ">
                        <div class="b-sideMenu__item2"><span><span><span></span></span>
                          </span>
                          <div><a href="/"><span><span>女性無料相談</span></span></a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-down-3s">
            <div class="t0-b-sideBox2-bPlacer">
              <div class="t0-b-sideBox2"><span><span><span></span></span>
                </span>
                <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-"><span><span><span></span></span>
                  </span>
                  <h4>イベント情報</h4>
                </div>
                <div class="t0-b-sideBox2__bd"><span><span><span></span></span>
                  </span>
                  <div class="outerHtml">
                    <div>
                      <div class="t0-b-sideBoxMedia-bPlacer">
                        <div class="t0-b-sideBoxMedia t0-b-sideBoxMedia--width-">
                          <div class="t0-b-sideBoxMedia__main"><span><span><span></span></span>
                            </span> <img src="/_p/acre/13810/images/pc/bed5a405.jpg"> </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="t0-b-sideBoxLabeledList-bPlacer">
                        <div class="t0-b-sideBoxLabeledList">
                          <div class="t0-b-sideBoxLabeledList__item">
                            <div class="t0-b-sideBoxLabeledList__item-hd"><span><span><span></span></span>
                              </span>
                              <div>2019年01月01日</div>
                            </div>
                            <div class="t0-b-sideBoxLabeledList__item-bd">初めてのデートで好印象！<br> 食事基礎マナーセミナー</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="t0-b-sideBoxText-bPlacer">
                        <p class="t0-b-sideBoxText"><span style="font-size:14px">Sample Marriageのイベント情報を掲載しています。ぜひご覧ください。</span></p>
                      </div>
                    </div>
                    <div class="ex-topSpacingTweak-up-1s">
                      <div class="t0-b-sideNavItem-bPlacer">
                        <div class="t0-b-sideNavItem">
                          <div class="t0-b-sideNavItem__inner"> <span></span>
                            <div>イベント情報はこちらへ</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="area-sub-inner2"> </div>
        <div class="area-sub-inner3">
          <div class="ex-topSpacingTweak-down-1s">
            <div class="t0-b-sideNavItemWithImg2-bPlacer">
              <div>
                <div class="t0-b-sideNavItemWithImg2 t0-b-sideNavItemWithImg2--imgL">
                  <div class="t0-b-sideNavItemWithImg2__inner"><span><span><span></span></span>
                    </span>
                    <div class="t0-b-sideNavItemWithImg2__img"> <img src="/_p/acre/13810/images/pc/d4c3b334.png"> </div>
                    <div class="t0-b-sideNavItemWithImg2__text"> 男性向け<br> 無料相談へ </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-down-1s">
            <div class="t0-b-sideNavItemWithImg2-bPlacer">
              <div>
                <div class="t0-b-sideNavItemWithImg2 t0-b-sideNavItemWithImg2--imgL">
                  <div class="t0-b-sideNavItemWithImg2__inner"><span><span><span></span></span>
                    </span>
                    <div class="t0-b-sideNavItemWithImg2__img"> <img src="/_p/acre/13810/images/pc/b27403d1.png"> </div>
                    <div class="t0-b-sideNavItemWithImg2__text">
                      <div>女性向け</div>
                      <div>​無料相談へ</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-down-3s">
            <div class="t0-b-sideFreeHtml-bPlacer">
              <div class="t0-b-sideFreeHtml"><a href="https://www.ibjapan.com/"> <img src="https://www.ibjapan.com/banner/banner_ibj170_60.gif" width="170" height="60" border="0" alt="日本結婚相談所連盟"> </a></div>
            </div>
          </div>
          <div class="ex-topSpacingTweak-up-3s">
            <div class="t0-b-sideFreeHtml-bPlacer">
              <div class="t0-b-sideFreeHtml"><a href="https://www.ibjapan.com/">日本最大級の結婚相談所ネットワーク</a>
                <p>Sample MarriageはIBJ（日本結婚相談所連盟）加盟の結婚相談所です</p>
              </div>
            </div>
          </div>
        </div>
        <div class="area-sub-inner4"> </div>
      </div>
    </div>
    <footer class="area-footer" data-cms-parts-group="">
      <div class="area-footer-inner"> </div>
      <div class="area-footer-inner2"> </div>
      <div class="area-footer-inner3">
        <div class="ex-topSpacingTweak-up-4s">
          <div class="t0-b-footerMenu8-bPlacer">
            <div class="t0-b-footerMenu8 "><span><span><span></span></span>
              </span>
              <div><span><span><span></span></span>
                </span>
                <ul>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>TOP</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>初めての方へ</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>選ばれる理由</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>プラン・料金</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>カウンセラー紹介</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>ご結婚までの流れ</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>会員データ</div>
                  </li>
                  <li class="t0-b-footerMenu__item"> <span><span><span><span></span></span>
                    </span>
                    </span>
                    <div>よくあるご質問</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="t0-b-footerCombi4-bPlacer">
            <div class="t0-b-footerCombi4">
              <div><span><span><span></span></span>
                </span>
                <div class="t0-b-footerCombi4__col1"><span><span><span></span></span>
                  </span>
                  <div class="outerHtml">
                    <div class="ex-topSpacingTweak-up-2s">
                      <div class="t0-b-footerUnit-siteTitle-bPlacer">
                        <div class="t0-b-footerUnit-siteTitle">
                          <a href="/031pink" target="">
                            <div class="t0-b-footerUnit-siteTitle__bd">
                              <div class="t0-b-footerUnit-siteTitle__bd-textCol">
                                <p class="t0-b-footerUnit-siteTitle__bd-note" data-switchable-key="contents.0.useUpperCaption">経験豊富なカウンセラーがご成婚までお手伝いいたします</p>
                                <div class="t0-b-footerUnit-siteTitle__bd-siteName">
                                  <p><span style="font-size:36px">Sample marriage</span></p>
                                </div>
                              </div>
                            </div>
                          </a>
                          <p class="t0-b-footerUnit-siteTitle__ft" data-switchable-key="contents.0.useLowerCaption">〒000-0000 東京都港区青山1-9-1<br> （ＪＲ○○駅〇改札から徒歩すぐ）</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t0-b-footerCombi4__col2"><span><span><span></span></span>
                  </span>
                  <div class="outerHtml">
                    <div class="ex-topSpacingTweak-up-2s">
                      <div class="t0-b-footerUnit-freeHtml-bPlacer">
                        <div class="t0-b-footerUnit-freeHtml t0-b-footerUnit-freeHtml--width-">
                          <div><a href="https://www.ibjapan.com/"> <img src="https://www.ibjapan.com/banner/banner_ibj170_60.gif" alt="日本結婚相談所連盟" width="170" height="60" border="0"></a></div>
                        </div>
                      </div>
                    </div>
                    <div class="ex-topSpacingTweak-up-4s">
                      <div class="t0-b-footerUnit-freeHtml-bPlacer">
                        <div class="t0-b-footerUnit-freeHtml t0-b-footerUnit-freeHtml--width-">
                          <div><a href="https://www.ibjapan.com/">日本最大級の結婚相談所ネットワーク</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="ex-topSpacingTweak-up-3s">
                      <div class="t0-b-footerUnit-text-bPlacer">
                        <div class="t0-b-footerUnit-text">
                          <p style="text-align:center"><a href="https://www.ibjapan.com/">Sample marriageはIBJ加盟の結婚相談所です</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t0-b-footerCombi4__col3"><span><span><span></span></span>
                  </span>
                  <div class="outerHtml">
                    <div class="ex-topSpacingTweak-up-2s">
                      <div class="t0-b-footerUnit-nav2-bPlacer">
                        <div class="t0-b-footerUnit-nav2">
                          <div class="t0-b-footerUnit-nav2__item">
                            <a href="/031pink" target="">
                              <p><span style="color:#009fa5">【男性向け】</span>無料相談</p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ex-topSpacingTweak-down-4s">
                      <div class="t0-b-footerUnit-nav2-bPlacer">
                        <div class="t0-b-footerUnit-nav2">
                          <div class="t0-b-footerUnit-nav2__item">
                            <a href="/031pink" target="">
                              <p><span style="color:#dd6f9f">【女性向け】</span>無料相談</p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="t0-b-copyright"><span><span><span></span></span>
            </span>
            <p>(c) Sample marriage</p>
          </div>
        </div>
      </div>
      <div class="area-footer-inner4"> </div>
      <div class="area-footer-inner5"> </div>
    </footer>
  </div>
  <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.wms-analytics.net/" : "http://stats.wms-analytics.net/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script src="http://stats.wms-analytics.net/piwik.js" type="text/javascript"></script>
  <script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 28014);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
  </script><noscript><p><img src="http://stats.wms-analytics.net/piwik.php?idsite=28014" style="border:0" alt=""/></p></noscript>
  <script>
    (function() {
      var protocol = location.protocol;
      document.write('<script src="' + protocol + '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">\x3C/script>');
    }());
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"></script>
  <script src="/cms_v2/_master/acre/common/js/form.js"></script>
  <script src="/cms_v2/_master/acre/common/js/pc.js?1571796086"></script>
  <script src="/cms_v2/_master/acre/common/js/pc2.js?1571796086"></script>
  <div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div>
  <div id="lightbox" class="lightbox" style="display: none;">
    <div class="lb-outerContainer">
      <div class="lb-container"><img class="lb-image" src="">
        <div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div>
        <div class="lb-loader"><a class="lb-cancel"></a></div>
      </div>
    </div>
    <div class="lb-dataContainer">
      <div class="lb-data">
        <div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div>
        <div class="lb-closeContainer"><a class="lb-close"></a></div>
      </div>
    </div>
  </div>
</body>
</html>